extends layout

block content
  h1= title

  if bookList.length > 0
    ul
      each book in bookList
        li
          a(href=book.url) #{book.title}
          span  (#{book.author.name})

  else
    ul
      each placeholder in [1, 2, 3]
        li
          div.spinner-grow.spinner-grow-sm.text-primary(role="status")
            span.visually-hidden "Loading..."
